{% extends 'base.html' %}
{% block content %}
    <h1>Посты</h1>
    <p>{{ posts }}</p>
{#    {% for post in posts %}#}
{#        <div class="post">#}
{#            <h2><a href="{% url 'board:post_detail' post.pk %}">{{ post.title }}</a></h2>#}
{#            <p>Автор: {{ post.user.username }}</p>#}
{#            <p>Категория: {{ post.category }}</p>#}
{#            <p>Дата создания: {{ post.created_at }}</p>#}
{#            <p>Дата обновления: {{ post.updated_at }}</p>#}
{#            <p>{{ post.content_text|safe }}</p>#}
{#        </div>#}
{#    {% endfor %}#}
{% endblock %}